* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#headMenu {
    display: block;
    height: 7%;
    width: 100%;
    background: #030303;
    max-height: 100px;
}

div.HeadMenu {
    display: flex;
    background: rgb(3, 3,3);
    height: 100%;
}

div.headMenuButtons {
    float: left;
    align-items: center;
    display: flex;
    color: #ffffff;
    max-height: 100px;
    justify-content: center;
}

div.headMenuButtons p {
    font-size: 20px;
    font-family: "Britannic Bold";
}
#headMenuButtonLogo {
    display: block;
    width: 8%;
    padding: 15px;
    padding-left: 1%;
}
#headMenuButtons1 {
    width: 5%;
}
#headMenuButtons2 {
    width: 5%;
}
#headMenuButtons3 {
    width: 5%;
}
#headMenuButtons4 {
    width: 4%;
}
#headMenuButtons5 {
    width: 60%;
}
#headMenuButtons5 p {
    font-family: "Britannic Bold";
    font-size: 28px;
    padding-right: 10%;
}
#headMenuButtons6 {
    width: 2%;
}
#headMenuButtons7 {
    width: 2%;
}
#headMenuButtons8 {
    width: 2%;
}
#headMenuButtons9 {
    width: 13%;
}
#headMenuButtons9 p {
    border: 2px solid gray;
    border-radius: 20px;
    padding: 4px 24px;
    font-size: 22px;
}
div.headMenuButtons:hover {
    font-size: 40px;
}

div.headMenuButtons img {
    height: 100%;
}


